@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition($property, $duration: 0.2s) {
  transition: $duration $property ease-in-out;
}

@mixin heading-size($size) {
  font-size: $size;
  @media screen and (max-width: $tablet) {
    font-size: calc($size * 0.9);
  }
  @media screen and (max-width: $mobile) {
    font-size: calc($size * 0.85);
  }
}
