$font: "Ubuntu", sans-serif, "Arial", sans-serif;
$font-nunito: "Nunito Sans", sans-serif, "Arial", sans-serif;
$font-rubik: "Rubik", sans-serif, "Arial", sans-serif;

$primary-color: black;
$additional-text: #4f5665;
$error: #ff5631;

$navyblue: #003cff;
$pastelblue: #f5f4ff;
$blue: #7796c0;
$lightblue: #686df1;
$irisblue: #5b35d5;
$paleblue: #e2e8f0;
$darkgray: #1d1929;
$lightgray: #eaecee;
$gray: #808080;
$beidge: #b2a35f;
$pink: #b4387a;
$black: #1c1c1e;
$orange: #eb801d;
$brown: #7b7454;
$red: #f00;

$dekstop: 1300px;
$tablet: 920px;
$mobile: 500px;
