.button {
  background-color: $button-bg;
  color: $button-color;
  padding: 12px;
  border-radius: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 14px;
  @media screen and (min-width: $tablet) {
    font-style: 16px;
    padding: 16px;
  }
  &_default {
    @include transition(background-color);
    &:hover {
      background-color: $button-bg-hover;
    }
  }
  &_disabled {
    background-color: $button-bg-disabled;
  }
}
