.header {
  @include flex-between-center;
  padding: 16px 0;
  &__list {
    @include flex-center;
    @include transition(right, 0.4s);
    gap: 40px;
    @media screen and (max-width: $tablet) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: -200vw;
      background-color: $mobile-menu-bg;
      display: flex;
      gap: 20px;
      flex-direction: column;
    }
    &_active {
      right: 0;
    }
  }
  &__link {
    @include transition(color);
    color: $header-link-color;
    font-weight: 700;
    letter-spacing: 0.02em;
    &:hover {
      color: $header-link-color-hover;
    }
  }
  &__button {
    @media screen and (max-width: $tablet) {
      margin-left: auto;
    }
  }
  &__nav-btn {
    display: none;
    @media screen and (max-width: $tablet) {
      display: block;
      width: 25px;
      height: 20px;
      margin-left: 30px;
      border-top: 2px solid $mobile-burger;
      border-bottom: 2px solid $mobile-burger;
      background: none;
      z-index: 1;
    }
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: $mobile-burger;
    }
    &_active {
      border: none;
      position: relative;
      &::before {
        transform: rotate(135deg);
        position: absolute;
        right: 0;
      }
      &::after {
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: $mobile-burger;
      }
    }
  }
}
