.home-banner {
  @include flex-between-start;
  margin-top: 131px;
  gap: 32px;
  @media screen and (max-width: $tablet) {
    margin-top: 80px;
    flex-direction: column;
  }
  @media screen and (max-width: $mobile) {
    margin-top: 50px;
  }
  &__text {
    @media screen and (min-width: $mobile) {
      max-width: 70%;
    }

    @media screen and (min-width: $tablet) {
      max-width: 48.5%;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    align-self: flex-start;
    @media screen and (max-width: $tablet) {
      gap: 10px;
    }
    @media screen and (max-width: $mobile) {
      gap: 5px;
      grid-template-columns: repeat(2, auto);
    }
  }
  &__card {
    border-radius: 13px;
    object-fit: contain;
    overflow: hidden;
    max-width: 100%;
  }
  &__button {
    margin-top: 36px;
    @media screen and (max-width: $tablet) {
      margin-top: 20px;
    }
  }
}

.features {
  font-family: "Rubik";
  margin-top: 8.6%;
  background: url("@/assets/images/features/background.png") left top/39% auto
    no-repeat;
  padding: 5.7% 0 5% 44.8%;
  @media screen and (max-width: $tablet) {
    padding-left: 0;
    padding-bottom: 20%;
    background-position: bottom right;
    background-size: 47%;
  }
  @media screen and (max-width: $mobile) {
    padding-bottom: 260px;
    background-position: bottom center;
    background-size: 285px;
  }
  &__h2 {
    @include heading-size(35px);
    color: $h2-features-color;
    font-weight: 500;
    line-height: 1.43;
  }
  &__text {
    color: $additional-text;
    line-height: 1.875;
    margin-top: 20px;
    @media screen and (max-width: $tablet) {
      margin-top: 10px;
    }
  }
  &__list {
    margin-top: 25px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    color: $additional-text;
    font-size: 14px;
    line-height: 2.14;
    margin-top: 10px;
    &::before {
      content: url("@/assets/icons/check.svg");
      width: 23px;
      height: 24px;
      margin-right: 16px;
    }
  }
}
