.prescoring-form {
  margin-top: 2rem;
  flex-basis: 100%;
  &__fields {
    margin-top: toRem(26);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: end;
  }
  &__submit {
    border-radius: 0.5rem;
    padding: 1rem toRem(38);
    margin-top: toRem(24);
    margin-left: auto;
    display: block;
  }
}
