.button {
  background-color: $navyblue;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 1rem;
  line-height: 1.12;
  outline: none;
  @include transition(background-color);
  &_default {
    &:hover {
      background-color: $blue;
    }
  }
  &_disabled {
    background-color: $blue;
  }
  &_subscribe {
    background-color: $lightblue;
  }
}
