.label {
  color: #1a202c;
  font-weight: 500;
  &__asterisk {
    color: $red;
    margin-left: 5px;
    font-weight: 500;
    vertical-align: text-top;
  }
  &_vertical {
    @include flex-column;
  }
  &_horizontal {
    @include flex-start;
    flex-direction: row;
  }
}
