

.support {
  margin-top: 4rem;
  text-align: center;
  &__heading {
    color: $orange;
    font-size: toRem(24);
    font-weight: 700;
    letter-spacing: 0.03rem;
  }
  &__h2 {
    margin-top: toRem(30);
    &_fullwidth {
      display: block;
      margin-top: toRem(27);
      font-weight: 500;
    }
  }
  &__form {
    @include flex-between-center;
    margin: toRem(62) auto 0;
    border-radius: toRem(20);
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.1);
    padding: toRem(22) toRem(32);
    width: 100%;
    max-width: toRem(525);
    @media screen and (max-width: $mobile) {
      margin-bottom: 0.5rem;
      padding: 0.875rem 1.5rem;
    }
    &::before {
      content: "";
      background: url("@/assets/images/email.svg") center/contain no-repeat;
      min-width: toRem(28);
      height: toRem(37);
      display: block;
      @media screen and (max-width: $mobile) {
        min-width: toRem(20);
      }
    }
  }
  &__input {
    font-family: $font-nunito;
    font-size: toRem(20);
    margin-left: toRem(10);
    flex-grow: 1;
    text-overflow: ellipsis;
    min-width: toRem(100);
    &::placeholder {
      color: #9092b0;
    }
  }
  &__button {
    position: relative;
    line-height: 1.269;
    margin-left: toRem(10);
    padding: toRem(13) toRem(30) toRem(13) toRem(55);
    background-color: #686df1;
    @media screen and (max-width: $mobile) {
      padding: toRem(13) toRem(20) toRem(13) toRem(40);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: toRem(14);
      background: url("@/assets/images/send.svg") top no-repeat;
      display: block;
      width: toRem(30);
      height: toRem(38);
      margin-right: toRem(10);
      @media screen and (max-width: $mobile) {
        background-size: contain;
        height: toRem(33);
        left: toRem(6);
      }
    }
  }
}
