html {
  font: $font;
  color: $primary-color;
}

body {
  background-color: $lightblue;
  padding: 0 10px;
  min-width: 320px;
  overflow-x: hidden;
  @media screen and (min-width: $tablet) {
    padding: 0 15px;
  }
  @media screen and (min-width: calc($dekstop + 30px)) {
    padding: 0 calc(50% - $dekstop / 2);
  }
}

.h1 {
  @include heading-size(48px);
  color: $h1-color;
  font-weight: 700;
  line-height: 1.05;
}

.h2 {
  @include heading-size(30px);
  color: $h2-color;
  font-weight: 500;
}
