$font: "Ubuntu", sans-serif, "Arial", sans-serif;
$primary-color: black;

$navyblue: #003cff;
$lightblue: #f5f4ff;
$blue: #7796c0;
$darkgray: #1d1929;
$lightgray: #eaecee;
$gray: #808080;
$beidge: #b2a35f;
$pink: #b4387a;
$black: #1c1c1e;

$body-bg: $lightblue;
$button-bg: $navyblue;
$button-bg-hover: $blue;
$button-bg-disabled: $blue;
$mobile-menu-bg: $lightgray;
$button-color: white;
$logo-color: $pink;
$header-link-color: $darkgray;
$header-link-color-hover: $beidge;
$additional-text: #4f5665;
$mobile-burger: rgba(127, 146, 172, 0.7);

$dekstop: 1300px;
$tablet: 920px;
$mobile: 500px;
